@{
    ViewBag.Title = "Contact";
}

<h2>Contactos</h2>
            <c>
               LLamenos al 809-209-9006 Lo esperamo
              
           </c>
<h3>Administradores</h3>
<c>    
    Miguel Rubio y Eduardo Montes de Oca
   </c>

           
           